@import 'styles/shared';

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;

    &.title {
      font-weight: 700;
      color: $accent-color;
    }

    &.profit {
      color: $profit-color;

      &::before {
        content: '+';
      }
    }
    &.profitChange {
      color: $profit-color;
      background-color: $profit-bg-color;

      &::before {
        content: '\2191';
      }
    }
    &.loss {
      color: $loss-color;

      &::before {
        content: '-';
      }
    }
    &.lossChange {
      color: $loss-color;
      background-color: $loss-bg-color;

      &::before {
        content: '\2193';
      }
    }
  }
}
